{{! Here is where you edit the static links displayed on every page.
    Eventually, these links will be editable in the Ghost Admin Interface
    and be inserted with the nav theme helper }}

<nav id="site-navigation">
	{{!-- <div class="table"> --}}
    <ul>
        <li><a href="{{@blog.url}}/about-me">About</a></li>
        <li><a href="{{@blog.url}}/contact">Contact</a></li>
        <li><a href="http://instagram.com/yyanyoon"><i class="fa fa-instagram"></i><p class="icon-nav"> Instagram</p></a></li>
        <li><a href="https://github.com/yoonwaiyan"><i class="fa fa-github"></i><p class="icon-nav"> Github</p></a></li>
        <li><a href="https://my.linkedin.com/in/yoonwaiyan"><i class="fa fa-linkedin"></i><p class="icon-nav"> LinkedIn</p></a></li>
        <li><a href="{{@blog.url}}/rss"><i class="fa fa-rss"></i><p class="icon-nav"> RSS</p></a></li>
    </ul>		
	{{!-- </div> --}}
</nav>