{{!< default}}

{{>author}}

<div id="grid-posts" class="js-masonry">
	{{#foreach posts}}
	    <div class="post_item">{{> list-post}}</div>	
	{{/foreach}}
</div>

<button class="load-more-button">Load More</button>


{{!! After all the posts, show the newer/older pagination links }}
{{#if pagination}}
    {{pagination}}
{{/if}}